MONGODB_URI="mongodb://127.0.0.1:27017/ai-learning-app"
# MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/ai-learning-app?retryWrites=true&w=majority

OPENAI_API_KEY="sk-proj-..."

NEXTAUTH_SECRET="super-secret-key-change-in-production"
NEXTAUTH_URL="http://localhost:3003"

MONGODB_DB="ai-learning-app"

